#j-video-process {
	position: relative;
	width: 500px;
	height: 6px;
	border-radius: 3px;
	background-color: #ccc;
}

#j-video-process-bar{
	position: absolute;
	display: inline-block;
	width: 100px;
	height: 6px;
	border-radius: 3px;
	background-color: #777;
}

#j-video-process-drag{
	position: absolute;
	display: inline-block;
	top: -5px;
	/* 初始位置 */
	/* left: -5px; */
	left: 92px;
	width: 16px;
	height: 16px;
	border-radius: 8px;
	background-color: #777;
	cursor: pointer;
}

#j-video-process-drag:hover{
	background-color: #555;
}