@keyframes j-video-process-bar {
	0% {
		height: 4px;
	}
	100% {
		height: 8px;
	}
}

@keyframes j-video-process-load {
	0% {
		height: 4px;
	}
	100% {
		height: 8px;
	}
}

@keyframes j-video-process-play {
	0% {
		height: 4px;
	}
	100% {
		height: 8px;
	}
}

@keyframes j-video-process-drag {
	0% {
		opacity: 0;
		width: 0;
		height: 0;
		right: 0
	}
	10% {
		opacity: .1;
		width: 2px;
		height: 2px;
		right: -1px
	}
	20% {
		opacity: .2;
		width: 4px;
		height: 4px;
		right: -2px
	}
	30% {
		opacity: .3;
		width: 6px;
		height: 6px;
		right: -3px
	}
	40% {
		opacity: .4;
		width: 8px;
		height: 8px;
		right: -4px
	}
	50% {
		opacity: .5;
		width: 10px;
		height: 10px;
		right: -5px;
	}
	60% {
		opacity: .6;
		width: 12px;
		height: 12px;
		right: -6px;
	}
	70% {
		opacity: .7;
		width: 14px;
		height: 14px;
		right: -7px;
	}
	80% {
		opacity: .8;
		width: 16px;
		height: 16px;
		right: -8px;
	}
	90% {
		opacity: .9;
	}
	100% {
		opacity: 1;
	}
}

div {
	box-sizing: border-box;
}

.v-center {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.h-cneter {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.v-line-1px {
	width: 1px;
}

.v-height-50pc {
	height: 50%;
}

.line-green {
	background: green;
}

.line-gray {
	background: #555;
}

.l-float {
	float: left;
}

.r-float {
	float: right
}

#j-video {
	margin: 10px;
	position: absolute;
	background-color: #000;
	/* 防止进度条撑大窗口 */
	overflow: hidden;
	-moz-box-shadow:0 0 10px #06c;
	-webkit-box-shadow:0 0 10px #06c;
	box-shadow:0 0 10px #000;
}

#j-video-top {
	position: relative;
	top: 0;
	background-color: #cc3333;
	height: 30px;
	width: 100%;
	/* 避免被视频的层级被覆盖 */
	z-index: 1; 

	-webkit-app-region: drag;
}

#j-video-top-left {
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);

	-webkit-app-region: no-drag;
}

#j-video-top-left a{
	display: block;
	text-align: center;
	color: #ccc;
	cursor: pointer;
}

#j-video-top-left a:hover{
	color: #fff;
}

#j-video-top-center {
	position: absolute;
	left: 50%;
	top: 50%;
	color: #ccc;
	transform: translateX(-50%) translateY(-50%);
}

#j-video-top-right {
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);

	-webkit-app-region: no-drag;
}

#j-video-frame-setting {
	position: relative;
	width: 30px;
	height: 30px;
	border-radius: 15px;
	border: 1px solid #777;
}


#j-video-top-right ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
}

#j-video-top-right li{
	margin-right: 10px;
}

#j-video-top-right li:last-child{
	margin-right: 0;
}

#j-video-top-right li a {
	
	display: block;
	text-align: center;
	color: #ccc;
	cursor: pointer;
}

#j-video-top-right li a:hover {
	color: #fff;
}

#j-video-top-right li a.active {
	color: #aaa;
}

#j-video-frame-min {
	position: relative;
	float: left;
	margin-right: 10px;
	width: 30px;
	height: 30px;
	border-radius: 15px;
	border: 1px solid #777;
}

#j-video-frame-max {
	position: relative;
	float: left;
	width: 30px;
	height: 30px;
	border-radius: 15px;
	border: 1px solid #777;
}

#j-video-frame-close {
	position: relative;
	float: left;
	margin-left: 10px;
	width: 30px;
	height: 30px;
	border-radius: 15px;
	border: 1px solid #777;
}

#j-video-screen {
	width: calc(100vw - 20px);
	height: calc(100vh - 94px);
	margin: 0 auto;
	text-align: center;
}

#j-video-screen-top{
	position: absolute;
	top: 0;
}

#j-video-screen-left{
	position: absolute;
}

#j-video-screen-right{
	position: absolute;
	display: none;
	top: 0;
	right: 0;
	width: 200px;
	height: 100%;
	border-left: 1px solid #aaa;
	background: rgba(20, 20, 20, 0.8);
}

#j-video-screen-bottom{
	position: absolute;
	bottom: 0;
}

#j-video-bottom {
	position: relative;
	bottom: 0;
	background-color: #fff;
	width: 100%;
	height: 40px;
}

#j-video-process {
	position: absolute;
	height: 30px;
	width: 100%;
	/* 避免被后面的元素覆盖层级 */
	z-index: 1;
}

#j-video-process-back {
	position: relative;
	vertical-align: middle;
	text-align: center;
	width: 28px;
	height: 28px;
	line-height: 28px;
	float: left;
}

#j-video-process-next {
	position: relative;
	vertical-align: middle;
	text-align: center;
	width: 28px;
	height: 28px;
	line-height: 28px;
	float: right;
}

#j-video-process-bar {
	position: relative;
	vertical-align: middle;
	/* width: 100%; */
	height: 4px;
	top: 50%;
	width: calc(100% - 56px);
	transform: translateY(-50%);
	border-radius: 3px;
	background-color: #aaa;
	float: left;
}

#j-video-process-load {
	position: absolute;
	width: 70%;
	height: inherit;
	border-radius: 3px;
	background-color: #ccc;
}

#j-video-process-play {
	position: absolute;
	width: 50%;
	height: inherit;
	border-radius: 3px;
	background-color: #cc3333;
	float: left;
}

#j-video-process-drag {
	position: relative;
	display: none;
	/* 初始位置 */
	right: -8px;
	top: 50%;
	transform: translateY(-50%);
	width: 16px;
	height: 16px;
	border-radius: 8px;
	background-color: #fff;
	border: 1px solid #cc3333;
	float: right;
}

#j-video-bottom[show='true'] #j-video-process[control='false']:hover #j-video-process-bar {
	cursor: pointer;
	height: 8px;
	animation: j-video-process-bar;
	animation-duration: .3s;
}

#j-video-bottom[show='true'] #j-video-process[control='false']:hover #j-video-process-bar #j-video-process-load {
	height: inherit;
	animation: j-video-process-load;
	animation-duration: .3s;
}

#j-video-bottom[show='true'] #j-video-process[control='false']:hover #j-video-process-bar #j-video-process-play {
	height: inherit;
	animation: j-video-process-play;
	animation-duration: .3s;
}

#j-video-bottom[show='true'] #j-video-process[control='false']:hover #j-video-process-bar #j-video-process-drag {
	display: inline-block;
	animation: j-video-process-drag;
	animation-duration: .3s;
}

#j-video-process[control='false'] {
	height: 8px;
	top: -6px;
}

#j-video-process[control='false'] #j-video-process-back, #j-video-process[control='false'] #j-video-process-next {
	display: none;
}

#j-video-process[control='false'] #j-video-process-bar {
	width: 100%;
	border-radius: 0;
	top: 50%;
	transform: translateY(-50%);
}

#j-video-process[control='false'] #j-video-process-load, #j-video-process[control='false'] #j-video-process-play {
	border-radius: 0;
}

#j-video-control {
	position: absolute;
	height: 40px;
	width: 100%;
	bottom: 0;
}

#j-video-control-left{
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
}

#j-video-control-left div{
	position: relative;
	float: left;
}

#j-video-bottom[show='false']{
	bottom: -40px;
}

#j-video-bottom[show='false'] #j-video-process{
	height: 4px;
	top: -4px;
}

#j-video-upload {
	position: absolute;

	/* 隐藏组件 */
	display: none;

	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 160px;
	height: 40px;
	line-height: 40px;
	background-color: rgba(20, 20, 20, 0.8);
	border-radius: 20px;
	border: 2px solid #555;
	text-align: center;
}

#j-video-upload form{
	width: 100%;
	height: 100%;
}

#j-video-upload form input{
	display: none;
}

#j-video-upload-open {
	position: relative;
	float: left;
	width: 119px;
	height: 36px;
	line-height: 36px;
	color: #555;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	cursor: pointer;
}

#j-video-upload-open:hover{
	color: #aaa;
	background-color: rgba(50, 50, 50, 0.8);
}

#j-video-upload:hover #j-video-upload-split{
	height: 100%;
}

#j-video-upload-split{
	position: relative;
	float: left;
	background: #555;
	width: 1px;
	height: 50%;
    top: 50%;
    transform: translateY(-50%);
}


#j-video-upload-select {
	position: relative;
	float: left;
	width: 36px;
	height: 36px;
	color: #555;
	font-size: 12px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	cursor: pointer;
}

#j-video-upload-select:hover{
	color: #aaa;
	background-color: rgba(50, 50, 50, 0.8);
}

